<div class="row">
    <div class="col">
        <div class="mb-6">
            <h2>{{titulo}}</h2>
    <form action="" class="form-group">
        <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input [(ngModel)] = "nombreEmpleado" type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre empleado">
        </div>
        <div class="mb-3">
            <label class="form-label">Apellido</label>
            <input [(ngModel)] = "apellidoEmpleado" type="text" class="form-control" name="apellido" id="apellido" placeholder="Apellido empleado">
        </div>
        <div class="mb-3">
            <label class="form-label">Cargo</label>
            <input [(ngModel)] = "cargoEmpleado" type="text" class="form-control" name="cargo" id="cargo" placeholder="Cargo empleado">
        </div>
        <div class="mb-3">
            <label class="form-label">Salario</label>
            <input [(ngModel)] = "salarioEmpleado" type="text" class="form-control" name="salario" id="salario" placeholder="Salario empleado">
        </div>
        <button (click)="guardarEmpleado()" type="submit" class="btn btn-primary">Guardar</button>
    </form>
        </div>

    </div>
    
    <div class="col">
      
        <div class="mb-6">
         <app-lista-empleados *ngFor="let emp of empleados" [empleado] = "emp"></app-lista-empleados>
       </div>
       </div>
</div>