<div>
    <h1>{{titulo}}</h1>
    <table class="table table-responsive center">
        <thead class="">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cargo</th>
                <th>Salario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{empleado.nombre}}</td>
                <td>{{empleado.apellido}}</td>
                <td>{{empleado.cargo}}</td>
                <td>{{empleado.salario}}</td>
                <td><button class="btn btn-primary">Editar</button><button class="btn btn-danger">Eliminar</button></td>
            </tr>
        </tbody>
    </table>
</div>
