<div class="card margin">
    <div class="card-header">
        <h5>{{titulo}}</h5>
    </div>
    <div class="card-body">
        
    <table class="table table-responsive center">
        <thead class="">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cargo</th>
                <th>Salario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let empleado of empleados; let i=index">
                <td>{{empleado.id}}</td>
                <td>{{empleado.nombre}}</td>
                <td>{{empleado.apellido}}</td>
                <td>{{empleado.cargo}}</td>
                <td>$ {{empleado.salario}}</td>
                <td><button class="btn btn-primary" routerLink="/editar/{{ empleado.id }}">Editar</button><button class="btn btn-danger">Eliminar</button></td>
            </tr>
        </tbody>
    </table>

    </div>
</div>